*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navContainer{
    padding:1rem;
    display: flex;
/* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}
.nav-section-1,.nav-section-2,.nav-section-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-section-1 a{
    
    padding-left:2rem;
}
.nav-section-3 a{
    
    padding-right:2rem;
}
.navContainer a{
    display: inline;
    text-decoration: none;
    cursor: pointer;
}